html, body { height:100%; margin:auto; padding:0; }

#header {
  background-color: #f0d9b5;
  display: flex;
  justify-content: center;
  font-family: verdana;
  color: #b58863;
}

#header h1 {
  font-size: 3em;
  font-weight: 700;
}

body {
  background-color:rgba(0,0,0, 0.85);
  color: #f0d9b5;
}

body h3 {
  color: #b58863;
}

#board {
  padding-top: 1%;
  padding-bottom: 1%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 40%;
}

button:focus {
  background-color: yellow;
}

a {
  color: lightblue;
}

a:visited {
  color: pink;
}

a:focus {
  border: 1rem solid yellow;
}

select:focus {
  border: 1rem solid yellow;
}
