html { width:100%; height:100%; margin:0; padding:0; }
body { width:100%; height:100%; margin:0; padding:0; }

#header {
  background-color:rgba(210,180,140, 0.8);
  display: flex;
  justify-content: center;
  font-family: verdana;
}

#header h1 {
  font-size: 3em;
  font-weight: 700;
}

#container {
  padding-top: 1%;
  padding-bottom: 1%;
  background-color:rgba(0,0,0, 0.85);
}

#board {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 40%;
}
