html, body { height:100%; margin:auto; padding:0; }

#header {
  background-color:rgba(210,180,140, 0.8);
  display: flex;
  justify-content: center;
  font-family: verdana;
}

#header h1 {
  font-size: 3em;
  font-weight: 700;
}

#container {
  padding-top: 1%;
  padding-bottom: 1%;
  background-color:rgba(0,0,0, 0.85);
}

#thinking {
  vertical-align: top;
  display: inline-block;
  width: 30%;
  text-align: center;
  font-size: 3em;
  color: white;
  visibility: hidden;
}

#board {
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  width: 40%;
}

button:focus {
  background-color: yellow;
}

#container label {
  color: white;
}
